<div class="container">
  <div class="row fondo-azul">
      <div class="col-2">
          <img class="img-fluid max-width: 100% height: auto" style="max-width: 50px; max-height: 50px" src="https://upload.wikimedia.org/wikipedia/commons/e/ed/HD-TV_Logo.svg" alt="logo">
      </div>
      <div class="col-10">
          <h1 class="alineado-izq">TV Series</h1>
      </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-lg-6 centrado">
      <app-serie-list></app-serie-list>
    </div>
  </div>
</div>

